
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

:root {
    --bg-color: #0f172a;
    --text-color: #ffffff;
    --primary-color: #7c3aed;
    --card-color: #1e1b2e;
    --accent-color: #00ffcc;
}

body.light {
    --bg-color: #f4f4f4;
    --text-color: #111;
    --primary-color: #7c3aed;
    --card-color: #ffffff;
    --accent-color: #7c3aed;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: var(--bg-color);
    color: var(--text-color);
    transition: 0.4s ease;
}


header {
    background: linear-gradient(45deg, var(--primary-color), #4c1d95);
    padding: 25px;
    text-align: center;
    animation: fadeIn 1.2s ease;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: 500;
    transition: 0.3s;
}

nav a:hover {
    color: var(--accent-color);
    transform: scale(1.1);
}


#themeToggle {
    margin-top: 15px;
    padding: 8px 15px;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    background: var(--accent-color);
    font-weight: bold;
    transition: 0.3s;
}

#themeToggle:hover {
    transform: scale(1.1);
}


section {
    margin: 30px;
    padding: 40px;
    border-radius: 15px;
    background: var(--card-color);
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
    transform: translateY(30px);
    opacity: 0;
    transition: all 0.8s ease;
}


section.show {
    transform: translateY(0);
    opacity: 1;
}


.skills-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.skill {
    background: var(--accent-color);
    color: #000;
    padding: 10px 20px;
    border-radius: 25px;
    transition: 0.3s;
}

.skill:hover {
    transform: scale(1.1);
}


.project {
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 12px;
    border: 2px solid var(--accent-color);
    transition: 0.4s;
}

.project:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 30px rgba(0,0,0,0.4);
}


form input, form textarea {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 8px;
    border: 1px solid #ccc;
}

form button {
    padding: 12px;
    border: none;
    border-radius: 25px;
    background: var(--primary-color);
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

form button:hover {
    transform: scale(1.05);
}

#successMessage {
    color: var(--accent-color);
    font-weight: bold;
}


footer {
    text-align: center;
    padding: 20px;
    background: var(--primary-color);
    color: white;
}


@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}
